<a href="https://colab.research.google.com/github/ChaitanyaSai11/python/blob/main/python_basics_program_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

#keywords  are predefined,reserved words used in python programming
#list of keywords true,false,as,is,class,lambda,none,break,global,del,import,for,def.......

#identifiers=names are given to variables,classes,methods/function name
#rules
1.start with letter or underscore
2.followed by letters,digits, or underscores
3.avoid starting with a Digit
4.No special characters
5.Case Sensitive(e.g: age,AGE,and Age)
6.Avoid using keywords

In [ ]:
#variables
a=10
age=10
name="Chaitanya"
_name="ch"
Total=100.50
is_student=True

In [ ]:
print("hello world")
a=10
#data type
print(type(a))
b=6
c=a+b
print(c)
d=1.5
#type conversion
print(float(a+d))
e='10'
print(int(e))
print(int(15.3))
print(float(10))
print(str(52))
print(bool(1))
print(bool(0))
print(bool(2))
#ascii value
print(ord("a"))

hello world
<class 'int'>
16
11.5
10
15
10.0
52
True
False
True
97

In [ ]:
#arithmetic opertors
a=65
b=60
print(chr(a))
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)
import math
print(math.ceil(a/b))

A
5
3900
1.0833333333333333
1
5
5953898114759757583498133232325552989993673976517266254986001716363076818883115493008517660200595855712890625
2

In [ ]:
#assignment operators
a=10
b=10
a=a+b
print(a)
#(or)
a=10
b=10
a+=b
print(a)

20
20

In [ ]:
a-=b
print(a)
a=10
b=10
a*=b
print(a)
a=10
b=10
a/=b
print(a)
a=10
b=10
a//=b
print(a)
a=10
b=10
a%=b
print(a)
a=10
b=10
a**=b
print(a)

10
100
1.0
1
0
10000000000

In [ ]:
#comparison operators
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
False
True
True
False

In [ ]:
#logical operators
a=10
b=15
print(a<b and b>10)
print(a==10 or b==15)
a=True
print(not a)

True
True
False

In [ ]:
#membership operators
a=(1,2,3)
print(1 in a)
print(1 not in a)

True
False

In [ ]:
#identity operators
a=(1,2,3)
b=(1,2,3,4)
print(a is b)
print(a is not b)
c="Chaitanya"
d="Satish"
print(c is d)
print(c is not d)

False
True
False
True

In [ ]:
#bitwise operators(binary only)
a=2
b=3
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(a>>1)

2
3
1
-3
8
1

In [ ]:
#input(runtime)

a=int(input())
b=input()
print(a)
print(b)
print(int(b))
c=input()
print("hello " + c + " chaitanya") #concatination
print("hello",c,"chaitanya")

1
2
1
2
2
3
hello 3 chaitanya
hello 3 chaitanya

In [ ]:
#output
a=(1,2,3)
print(*a)
print(*a,sep=",")
print(*a,sep=",",end=".")
a=10
b=10
c=12
d=15
print(a,b,sep=",")
print(a,b,c,d,sep=" , ")
print(a,b,c,d, end=".")

1 2 3
1,2,3
1,2,3.10,10
10 , 10 , 12 , 15
10 10 12 15.

In [ ]:
#examples
a=input()
print("Hello",a,sep=",",end="!")
a=int(input())
print("You entered:",a,sep="")
a=float(input())
print("value of a:",a,sep="")

chaitanya
Hello,chaitanya!5
You entered:5
2.5
value of a:2.5

In [ ]:
#split examples
a=input()
a.split(' ')
a,b,c=a.split(' ')
print(a+b+c)
print(a)

#split and add
sum=int(a)+int(b)+int(c)
print(sum)

1 2 3
123
1
6

In [ ]:
'''expected input :"chaitanya",24
output: "Name:chaitanya,Age:25" '''
a=input()
b,c=a.split(",")
print("Name:",b,",Age:",c,sep="")

chaitanya,25
Name:chaitanya,Age:25

In [ ]:
'''expected input:10,5
output : Addition:15,subtraction:5,multiplication:50,division:2.0'''
a=input()
a,b=a.split(',')

print("Addition:",int(a)+int(b),",Subtraction:",int(a)-int(b),",Multiplication:",int(a)*int(b),",Division:",float(int(a)/int(b)),sep="")

10,5
Addition:15,Subtraction:5,Multiplication:50,Division:2.0

In [ ]:
#or
a=input()
a,b=a.split(',')
a=int(a)
b=int(b)
print("Addition:",a+b,",Subtraction:",a-b,",Multiplication:",a*b,",Division:",float(a/b),sep="")

10,5
Addition:15,Subtraction:5,Multiplication:50,Division:2.0

In [ ]:
#using formating
'''expected input;"chaitanya",25
output:"Name:Chaitanya,Age:25 years"'''
a=input()
a,b=a.split(',')
print(f"Name:{a},Age:{b} years")

chaitanya,25
Name:chaitanya,Age:25 years

In [ ]:
#quadratic equation
a=1
b=-3
c=2
d=math.sqrt((b**2)-4*a*c)
e=(-b+d)/2*a
f=(-b-d)/2*a
print(f"Roots:{e,f}")

Roots:(2.0, 1.0)

In [ ]:
#swapping
a=10
b=20
a=a+b
b=a-b
a=a-b
print(a)
print(b)

#using temp
a=10
b=20
temp=a
a=b
b=temp
print(a)
print(b)

20
10
20
10

In [ ]:
#converting temperatures
#input; celsius=30
#output : fahrenheit :86.0
#kelvin:303.15
c=30
f=c*(9/5)+32
print(f)
k=273.15+c
print((k))

86.0
303.15

In [ ]:
'''Write a temperature converter program, which is menu driven.
Each such on version logic should be defined in separate functions.
The program should call the respective function based on the user’s requirement.
The program should run as long as the user wishes so.
Define 3 serprate functions: celsius_to_fahrenheit, fahrenheit_to_celsius, show_menu.
celsius_to_fahrenheit: This function should contain logic for Celsius to Fahrenheit conversion.  F = (C * 9/5)+32
fahrenheit_to_celsius: This function should contain logic for Fahrenheit to Celsius conversion. C = (f -32)* 5/9
show_menu: This function should display the menu and the input for the choice from the user.
	Menu:

	1. Celsius to Fahrenheit
	2. Fahrenheit to Celsius
	0. Quit

If user enters 1 it should take input from user the temperature in Celsius and call the celsius_to_fahrenheit() to convert the entered temperature into Fahrenheit.
If user enters 2 it should take input from user the temperature in Fahrenheit and call the fahrenheit_to_celsius() to convert the entered temperature into Celsius.
If user enters 0 it should print the text "Exiting the program." and stop execution.
for any other input other than 1, 2, or 0 it should print "Invalid choice. Please select a valid option."
Sample Execution:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
0. Quit
Enter your choice: 1
Enter temperature in Celsius: 87
188.6 F
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
0. Quit
Enter your choice: 0
Exiting the program.'''

def convertCtoF(C):
    F = (C * 9/5)+32
    return F
def convertFtoC(F):
    C = (F -32)* 5/9
    return C
def showMenu():
    print("1. Celsius to Fahrenheit")
    print("2. Fahrenheit to Celsius")
    print("0. Quit")
    ch=float(input("Enter your  choice:"))
    return ch

flag=0
while(flag==0):
    choice=showMenu()

    if (choice==1):
        cel = float(input("Enter temperature in celsius:"))
        resultc = convertCtoF(cel)
        print(resultc,"F")
    elif (choice==2):
        Far = float(input("Enter temperature in Fahrenheit:"))
        resultf = convertFtoC(Far)
        print(resultf,"C")
    elif (choice==0):
        print ("Exiting the program")
        flag=1
    else:
        print("invalid choice.Please select a valid option")

1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
0. Quit
Enter your  choice:1
Enter temperature in celsius:25
77.0 F
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
0. Quit
Enter your  choice:0
Exiting the program

In [ ]:
#converting currency
#input:usd=100(exchange rate for 1rs=85)
dollar=100
rupees=dollar*85
print(rupees)

rupees=100
dollar=rupees/85
print(dollar)

dollar=100
_1dollar_in_euro=0.85
euro=dollar*_1dollar_in_euro
print(euro)

8500
1.1764705882352942
85.0

Conditional statements

In [ ]:
#if
a=10
if(a>5):
  print("a is greater than 5")

a is greater than 5

In [ ]:
a=10
if(a<5):
  print("a")

In [ ]:
a=10
if(a%2==0):
  print(" a is divisible by 2")
print("a is number")

 a is divisible by 2
a is number

In [ ]:
#if else
a=10
if(a%2==0):
  print(" a is divisible by 2")
else:
  print("a is not divisible by 2")

 a is divisible by 2

In [ ]:
a=10
if(a%2==0):
  print(" a is divisible by 2")
else:
  print("a is not divisible by 2")

In [ ]:
#if elif else
a=int(input())
if(a%2==0):
  print(" a is divisible by 2")
elif(a%3==0):
  print("a is not divisible by 3")
else:
  print("a is not divisible by 2&3")

35
a is not divisible by 2&3

In [ ]:
#nested if
a=9
if(a%2==0):
  if(a%5==0):
    print("a is divisible by both 2&5")
else:
  print("not divisible")

not divisible

In [ ]:
#without using nested if
a=9
if(a%2==0)and(a%5==0):
    print("a is divisible by both 2&5")
else:
  print("not divisible")

not divisible

In [ ]:
a=10
b=5
operation=input()
if (operation=="+"):
  print(a+b)
elif(operation=="-"):
  print(a-b)
elif(operation=='*'):
  print(a*b)
else:
  print(a/b)

/
2.0

Strings

In [ ]:
a="Chaitanya"
print(a[0])
print(a)

C
Chaitanya

In [ ]:
print(a[-1])

a

In [ ]:
print(a[0:1])
print(a[1:-1])
print(a[::-1])

C
haitany
aynatiahC

In [ ]:
a="chaitanya"
print(a[slice(3)])

cha

In [ ]:
name1="Chaitanya"
name2="Sai"
print(name1+" "+name2)

Chaitanya Sai

In [ ]:
a="Chaitanya Sai Durga Rao"
print(len(a))

23

In [ ]:
#string functions or methods
a="Chaitanya Sai"
print(a.casefold())#all small
print(a.capitalize())#first letter capital
print(a.upper())
print(a.lower())
print(a.swapcase())
print(a.count("a"))
print(a.center(25))
print(a.find("a"))
print(a.index("a"))
print(a.endswith("ai"))
print(a.isalpha())
print(a.isalpha())
print(a.isnumeric())
print(a.isdigit())
print(a.isprintable())
print(a.isupper())
print(a.islower())
print(a.isspace())#empty string
print(a.istitle())#start with uppercase end eith lower case
print(a.replace("a","i"))

chaitanya sai
Chaitanya sai
CHAITANYA SAI
chaitanya sai
cHAITANYA sAI
4
      Chaitanya Sai
2
2
True
False
False
False
False
True
False
False
False
True
Chiitinyi Sii

In [ ]:
a="C\th\ta"
print(a.expandtabs(3))

C  h  a

In [ ]:
#escape sequence
a="chai\\tanya"
print(a)

chai\tanya

In [ ]:
a='Chaitanya\'s program' #single quote : \'
print(a)
a="Chaitanya\"s program" #double quote : \"
print(a)

Chaitanya's program
Chaitanya"s program

In [ ]:
a="Chaitnaya\nSai" #new line(line break)
print(a)

Chaitnaya
Sai

In [ ]:
a='Chaitanya\ts program' #tab
print(a)

Chaitanya	s program

In [ ]:
a='Chaitanya\rs program' #carriage return (used for some text file formats)
print(a)

s program

In [ ]:
a='Chaitanya\bs program' #backspace
print(a)

Chaitanyas program

In [ ]:
a='Chaitanya\fs program' #form feed(used for some text file formats)
print(a)

Chaitanyas program

In [ ]:
a='Chaitanya\vs program' #vetical tab (rarely used)
print(a)

Chaitanyas program

In [ ]:
#counting vowels
a=input()
a=a.lower()
print(a.count("a")+a.count("e")+a.count("i")+a.count("o")+a.count("u"))

Chaitanya Sai
6

In [ ]:
#grade calculator
a=int(input("Marks in Math:"))
b=int(input("Marks in Science:"))
c=int(input("Marks in English:"))
print(f"Total Marks:{a+b+c}")
d=(a+b+c)/3
print(d)
if d>90:
  print("A+")
elif d>80:
  print("A")
elif d>70:
  print("B")
else:
  print("Fail")

Marks in Math:19
Marks in Science:25
Marks in English:32
Total Marks:76
25.333333333333332
Fail

In [ ]:
#palindrome
a=input()
b=a[::-1]
if a==b:
  print("Palindrome")
else:
  print("not palindrome")

023
not palindrome

In [ ]:
#largest of three numbers
a=input() #input:15,20,25
a,b,c=a.split(",")
a=int(a)
b=int(b)
c=int(c)
if (a>b) and (a>c):
  print(a)
elif (b>c) and (b>a):
  print(b)
else:
  print(c)

15,20,25
25

In [ ]:
#leap year
a=int(input())
if ((a%4==0)and(a%100!=0)) or (a%400==0):
  print(True)
else:
  print(False)

4
True

In [ ]:
#temperature converter
a=int(input("Enter temperature:"))
b=input()
if (b=="c"):
  print("F:",a*(9/5)+32)
  print("K:",273.15+a)
elif (b=="f"):
  c=(a-32)*(5/9)
  print("C:",(a-32)*(5/9))
  print("K:",273.15+c)
elif (b=="k"):
  c=a-273.15
  print("C:",a-273.15)
  print("F:",c*(9/5)+32)

Enter temperature:32
k
C: -241.14999999999998
F: -402.07

loops

In [ ]:
#distributing chocolates in a class
candies=10
while candies>0:
  print(candies)
  candies -=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
candies =10
for i in range(1,candies):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
candies=10
for i in range(1,candies):#check if there are only 5 candies to a friend
  if i==5:
    print("only 5 candies left.skipping this turn")
    continue
  print("Giving a candy to a friend")

Giving a candy to a friend
Giving a candy to a friend
Giving a candy to a friend
Giving a candy to a friend
only 5 candies left.skipping this turn
Giving a candy to a friend
Giving a candy to a friend
Giving a candy to a friend
Giving a candy to a friend

In [ ]:
#if a=5 print upto 5 numbers #using while loop
a=int(input())
i=1
while i<=a:
  print(i)
  i=i+1 #i+=1

6
1
2
3
4
5
6

In [ ]:
#using for loop
a=int(input())
for i in range(1,a+1):
  print(i)

5
1
2
3
4
5

In [ ]:
#sum of n natural numbers
a=int(input())
print(int((a*(a+1))/2))

#or

i=1
sum=0
while i<=a:
  sum=sum+i
  i=i+1
print(sum)

5
15
15
30

In [ ]:
#using for loop
a=int(input())
sum=0
for i in range(1,a+1):
  sum=sum+i
print(sum)

3
6

In [ ]:
#print even numbers from 1 to n
a=int(input())
for i in range(1,a+1):
  if(i%2==0):
    print(i)

10
2
4
6
8
10

In [ ]:
#using while loop
a=int(input())
i=1
while i<=a:
  if(i%2==0):
    print(i)
  i=i+1

10
2
4
6
8
10

In [ ]:
#multiplication table
#using for loop
a=int(input())
for i in range(1,11):

  print(a,"x",i,"=",a*i)
  i=i+1

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
#using while loop
a=int(input())
i=1
while i<=10:
  print(a,"x",i,"=",a*i)
  i=i+1

3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
#factorial
a=int(input())
fact=1
while a>0:
  fact=fact*a
  a=a-1
print(fact)

3
6

In [ ]:
a = int(input())
fact = 1

for i in range(1, a + 1):
    fact =fact*i

print(fact)

5
120

functions

In [ ]:

def factorial(x):
    if x==0 or x==1:
        return 1
    elif x<0:
        return 0
    else:
        return x*factorial(x-1)
x=int(input())
print(factorial(x))

5
120

In [ ]:
#positional arguments (arguments passed based on their positions (order in arguments))
def add(a,b):
  return a+b
add(3,4)

7

In [ ]:
def add(c,d):
  return c+d
a=int(input())
b=int(input())
add(a,b)

5
10

15

In [ ]:
#keyword arguments (pass arguments to a functioj using their names explicity(no required order))
def person_info(name,age):
  print("Name:",name)
  print("Age:",age)
person_info(age=25,name="chaitu")

Name chaitu
Age 25

In [ ]:
#default(to provide  default values):

def student_behaviour(name, behaviour="good"):
    print("Name:", name)
    print("Behaviour:", behaviour)

student_behaviour(name="chaitanya")

Name: chaitanya
Behaviour: good

scope of variables

In [ ]:
#global scope(variable can be accessed anywhere from code.defined outside function)
global_variable=10
def function(a):
  a=global_variable+1
  print(a)
function(a)
print(global_variable)

11
10

In [ ]:
#local sccope(declared and accessible in inside function only )
def  function(a):
  b=10
  print(b)
function(a)

10

In [ ]:
#area of a circle
def area(r):
  pie=3.14
  print(pie*(r**2))
r=5
area(r)

78.5

In [ ]:
#quadratic equation
import math
def qd_eq(a,b,c):
  d=math.sqrt((b**2)-(4*a*c))
  e=(-b+d)/2*a
  f=(-b-d)/2*a
  return(e,f)
qd_eq(1,-3,2)

(2.0, 1.0)

In [ ]:
#swap two variables
def swap(a,b):
  a=a+b
  b=a-b
  a=a-b
  print("a=",a)
  print("b=",b)
swap(10,20)
swap(35,55)
swap(60,70)

a= 20
b= 10
a= 55
b= 35
a= 70
b= 60

**Recursion**
a functinon that calls itself is recursive,the process of executing it is called recursion.

In [ ]:
#syntax
#def recures():
  #recurse()
  #.....
#recurse()

In [ ]:
#factorial
def fact(n):
  if n==1: #basecase
    return 1
  else:
    return n*fact(n-1)
n=int(input())
print(fact(n))

5
120

In [ ]:
#infinite recursion: never reaches a base case
#ex:
def recures():
  recurse()

#**List**
1.mutable
2.collection of items
3.[]
4.contain different data types
5.allow duplicates
6.access elements using indexing

In [ ]:
#creating lists
l=[] #empty list
l=[1,2,3]
l=["Raju","Ravi","Ramesh"]
l=[1,"Raju",1.12,True]

In [ ]:
#accessing elements in list
l=[1,2,3,4,5,6,7,8,9,4,5,6]
print(l[1])
print(l[0])
print(l[-1])

2
1
6

In [ ]:
#list slicing
l=[1,2,3,4,5,6,7,8,9,4,5,6]
print(l[1:])
print(l[:5])
print(l[1:-1])
print(l[::-1])#reverse

[2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9, 4, 5]
[6, 5, 4, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#modifying elements (update)
l=[1,2,"chaitanya"]
l[0]=5
print(l)

[5, 2, 'chaitanya']

In [ ]:
#methods
l=[1,2,3,2]
l.append(4) #adds element at end of list
print(l)
l.insert(2,4) #insert particular element at particular index
print(l)
l.remove(2) #remove particular element in index
print(l)
l.pop(0) #remove element in specified index
print(l)
l.sort()
print(l)
a=l.index(2)#retuen index value first ocuurance of a specified element
print(a)
l=[1,2,3,[1,2,3]]
print(l[3])
print(l[3][2])

[1, 2, 3, 2, 4]
[1, 2, 4, 3, 2, 4]
[1, 4, 3, 2, 4]
[4, 3, 2, 4]
[2, 3, 4, 4]
0
[1, 2, 3]
3

In [ ]:
#list concatination
l1=[1,2,3]
l2=["a","b",3,4]
print(l1+l2)
#membership
print(1 in l1)
print(1 not in l2)
#length
print(len(l1))

[1, 2, 3, 'a', 'b', 3, 4]
True
True
3

In [ ]:
#list comprehensions(concise way to create lists using a single line of code)
squares=[l**2 for l in range (1,10) ]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#converting list of string elements to int
a=input().split(" ") #string input
l=[int(i) for i in a]
print(l)

10 20 30
[10, 20, 30]


#**Tuple**
>constant values
1.immutable and ordered
2.collection of items
3.defined with() or without parenthesis
4.contain different data types
5.allow duplicates
6.access elements using indexing
7.once a tuple created you cannot add,remove or modify elements

In [ ]:
t=(1,2,3,2) #with parenthesi
n=1,2,3 #without  parenthesis
print(t)
print(n)

(1, 2, 3, 2)
(1, 2, 3)

In [ ]:
#tuple slicing
t=(1,2,3,4,5,6,7,8,9,4,5,6)
print(t[1:])
print(t[:5])
print(t[1:-1])
print(t[::-1])#reverse

(2, 3, 4, 5, 6, 7, 8, 9, 4, 5, 6)
(1, 2, 3, 4, 5)
(2, 3, 4, 5, 6, 7, 8, 9, 4, 5)
(6, 5, 4, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
#accessing elements in tuple
t=(1,2,3,4,5,6,7,8,9,4,5,6)
print(t[1])
print(t[0])
print(t[-1])
#membership
print(1 in t)
print(55 not in t)
#length
print(len(t))

2
1
6
True
True
12

In [ ]:
#methods : tuple have some common built in methods because immutability
t=(1,2,3,4,2,5,6)
print(t.count(2))
print(t.index(2))

2
1

In [ ]:
#tuple concatination
t=(1,23)
t2=(1,2)
print(t+t2)
t="chaitanya","sai",1
print(t)

(1, 23, 1, 2)
('chaitanya', 'sai', 1)

#**SET**


*  unordered
*  collection of unique  elements
*  {} or set()
*  mutable
*  duplicate elements removed automatically

In [ ]:
#creTING SETS
_set={11,22,33}
print(_set)
a=set([1,2,3]) #takes one argument only
print(a)

{33, 11, 22}
{1, 2, 3}

In [ ]:
#methods
#adding elements
a={11,22,33,"chaitanya"}
a.add(4) #append in list
print(a)

{33, 4, 11, 'chaitanya', 22}

In [ ]:
#removing specific elements (remove() or discard())
a={11,22,33,"chaitanya"}
a.remove(22)
a.discard(11)
print(a)

{33, 'chaitanya'}

In [ ]:
#set operations (union,intersection,difference,symmetric difference)
s1={1,2,3,4,5}
s2={4,5,6,7,8}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))
print(s1.issuperset(s2))
print(s1.issubset(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
False
False

In [ ]:
#membership
s1={1,2,3,4,5}
print(5 in s1)
print(5 not in s1)
#length
print(len(s1))

True
False
5

In [ ]:
#frozen set(immutable)
s1={1,2,3,4,5}
f=frozenset(s1)

In [ ]:
#set comprehensions
squares={x**2 for x in range (1,25)}
print(squares)

{256, 1, 4, 9, 16, 144, 400, 529, 25, 289, 36, 169, 49, 441, 64, 576, 196, 324, 81, 225, 100, 484, 361, 121}

In [ ]:
#set methods (clear(),copy(),update() etc.)
s={1,2,3,4}
s2=s.copy()
print(s2)
s.add(6)
print(s)
s.pop() #remove first element (no arguments)
print(s)
s.remove(2) #sepicific element (remove() or discard())
print(s)
s.update([8,9,10])
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}
{2, 3, 4, 6}
{3, 4, 6}
{3, 4, 6, 8, 9, 10}

#**Dictionary**


*  unordered collection
*  {} and key-value pairs seperated by :(colons)
*  each key unique

In [ ]:
#creating dictionary
d={"a":1,"b":2}
dictionary={"name":"chaitanya","age":30,"place":"vijayawada"}
dictionary={"Rollno":[1,2,3,4],"name":["chaitanya","sai","durga","rao"]}

In [ ]:
dictionary={"name":"chaitanya","age":30,"place":"vijayawada"}
print(dictionary["name"])
print(dictionary["age"])
print(dictionary["place"])

chaitanya
30
vijayawada

In [ ]:
#methods
d={"a":1,"b":2}
d["c"]=3 #adding or updating element:update exisiting ones
print(d)
print(d.keys())
print(d.values())
print(d.items()) #items=key-values pairs
print(d.get("a")) #or
print(d["a"])
print(d.pop("a"))
print(d)

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])
1
1
1
{'b': 2, 'c': 3}

In [ ]:
# Original dictionary
original_dict = {'a': 1, 'b': 2}

# Dictionary to update from
update_dict = {'b': 3, 'c': 4}

# Update original_dict with values from update_dict
original_dict.update(update_dict)

# Print the updated dictionary
print("Updated dictionary:", original_dict)

Updated dictionary: {'a': 1, 'b': 3, 'c': 4}

In [ ]:
#looping in dictionary : iterate through keys or values of a dictionary

In [ ]:
dictionary={"name":"chaitanya","age":30,"place":"vijayawada"}
for key in dictionary: #normally a loop iterates keys only
  print(key)
for value in dictionary.values(): #used a method to iterate values
  print(value)
for key,value in dictionary.items(): #to iterate both key-value pairs used items method
  print(key,value)

name
age
place
chaitanya
30
vijayawada
name chaitanya
age 30
place vijayawada

In [ ]:
#dictionary comprehensions:
square={X:X**2 for X in range(1,10)}
print(square)
print({X:X**2 for X in range(1,10)})

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#programs on list,sets,tuples,dictionarys

In [ ]:
#sum of list elements using for loop
a=[1,2,3,4,5]
sum=0
for i in a:
  sum=sum+i
print(sum)

15

In [ ]:
a=[1,2,3,4,5]
sum=0
for i in range(len(a)):
  sum=sum+a[i]
print(sum)

15

In [ ]:
#using while loop
a=[1,2,3,4,5]
print(len(a))
i=0
sum=0
while i<len(a):
  sum=sum+a[i]
  i=i+1
print(sum)

5
15

In [ ]:
#tuple sum
a=(1,2,3,4,5)
print(len(a))
i=0
sum=0
while i<len(a):
  sum=sum+a[i]
  i=i+1
print(sum)

5
15

In [ ]:
a=[2,1,4,5,3]
a.sort() #[1,2,3,4,5]
print(a[0])
print(a[-1]) #or

print(min(a))
print(max(a)) #or

maxi=a[0] #assuming first element is maximum
mini=a[0] #assuming first element is minimum
for i in a:
  if i>maxi:
    maxi=i
  if i<mini:
    mini=i

print(mini)
print(maxi)

1
5
1
5
1
5

In [ ]:
#remove duplicate element in list
a=[1,2,3,4,5,1,2]
l=[]
for i in a:
  if i in l:
    continue
  else:
    l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [ ]:
#counting specific element in list
a=[1,2,3,4,5,1,2]
print(a.count(2))
n=int(input())
#or
c=0
for i in a:
  if i==n:
    c=c+1
print(c)

2
2
2

In [ ]:
#string to list
l = input()
a=[int(i) for i in l.split(',')] #or

a=[int(i) for i in input().split(',')]
print(a)

1,2,3
[1, 2, 3]

In [ ]:
a=input()
b=input()
a={int(i) for i in a.split(',')}
b={int(i) for i in b.split(',')}
print(a.intersection(b))
print(a.union(b))

1,2,3,4,5
4,5,6,7,8
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
dictionary={"name":"john","age":30,"city":"NewYork"}
dictionary["City"]="france"
print(dictionary)

{'name': 'john', 'age': 30, 'city': 'NewYork', 'City': 'fr'}

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]  # Initialize Fibonacci sequence with first two numbers
    for i in range(2, n):
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])  # Add the sum of the last two numbers to the sequence
    return fib_sequence[:n]  # Return the first n numbers in the Fibonacci sequence

# Example usage:
n = 10  # Number of Fibonacci numbers to generate
print(fibonacci(n))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

# Example usage:
n = 11  # Number of Fibonacci numbers to generate
fib_sequence = [fibonacci(i) for i in range(n)]
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
a=[1,2,3,"a","b"]
for i in a:
  a.pop()
print(a)

[1, 2]

In [ ]:
a=int(input())
b=str(a)
c=b[-1]
d=int(c)
if (d==2 or d==4 or d==6 or d==8 or d==0 ):
  print("even")
else:
  print("not even")

6
even

Exception

In [ ]:
a=10
b="Chaitnaya"
try:
  print(a+b)
except TypeError:
  print("cannot add int and string")

15

In [ ]:
while():